.Container {
  border-top: 1px solid #292829;
}

.memberAvatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 5px;
  border: 3px solid;
}

.allRoomsTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.memberContainer {
  padding: 1rem;
  width: fit-content;
  text-align: center;
}
.leftArrow {
  width: 1.5rem;
  height: auto;
}

.membersContainerWrapper {
  background-color: #1d1a1e;
  padding: 1rem 3rem;
  height: calc(100vh - (160px + 84.5px));
  border-start-start-radius: 3rem;
  border-start-end-radius: 3rem;
  overflow-y: auto;
}

.emojiContainer {
  background-color: #292829;
  margin: 0 1rem;
  padding: 0.7rem;
  border-radius: 4rem;
  cursor: pointer;
}

.micIcon {
  position: absolute;
  bottom: 2px;
  height: 1rem;
  right: 0px;
  width: auto;
  background: #292829;
  box-sizing: content-box;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}

.micsContainer {
  position: absolute;
  width: fit-content;
  background-color: #141216;
  bottom: 2rem;
  left: 50%;
  padding: 0.7rem 1rem;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
}

.mainMic {
  position: static;
  border-radius: 13px;
  height: 1.5rem;
  padding: 6px;
}
.endRoomSpan {
  cursor: pointer;
  color: rgb(255, 48, 48);
  font-size: 1.1rem;
}

.selectMenu {
  color: #bebcc0;
  border: none;
  outline: none;
  background-color: #292829;
  padding: 0.4rem 0.6rem;
  border-radius: 0.7rem;
  margin: 0 2rem;
  font-weight: bold;
}

.clientTooltip {
  background-color: "#fff";
  color: "#222";
  max-width: "15rem";
  line-break: "anywhere";
}
