.otpParagraph {
  color: #bebcc0;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.requestTimerParagraph {
  color: #bebcc0;
  font-size: 13px;
}

.otpParagraph:hover {
  color: #266cff;
}

.otpInput {
  text-align: center;
  width: 3rem !important;
  height: 4rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #292829;
  color: #bebcc0;
  font-size: 2.5rem;
}

.otpInput::selection {
  background-color: transparent;
}

.otpInputContainer {
  justify-content: space-evenly;
  width: 70%;
}

.otpInputFocus {
  box-shadow: 2px 2px 12px 2px #266cff;
}
