.Container {
  border-top: 1px solid #292829;
}

.inputContainer {
  background-color: #1d1a1e;
  padding: 0.5rem 1rem;
  height: 2.45rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.textInput {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  margin-left: 1rem;
}

.startRoomButton {
  border: none;
  outline: none;
  background-color: #33b358;
  color: white;
  border-radius: 2rem;
  padding: 0.4rem 0.5rem;
}
.inputContainerSpan {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
