.roomContainer {
  background-color: #1d1a1e;
  border-radius: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

.speakerAvatar {
  width: 3rem;
  height: 3rem;
  border: 2px solid;
  border-radius: 50%;
  position: absolute;
}

.speakersContainer {
  min-height: 5rem;
}

.speakersContainer div:last-child .speakerAvatar {
  top: 1.5rem;
  left: 20px;
}

.participantsText {
  color: #bebcc0;
  margin-right: 5px;
}
.speakerName {
  /* float-end mt-2 w-100 d-flex justify-content-end */
  float: right;
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
